<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>url-encoded</title>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
</head>
<body>
<form >
    이름 : <input type="text" id="name">
    이메일 : <input type="text" id="email">
    프로필 이미지 : <input type="file" id="fileList" Multiple>
    <!--Multiple로 설정하면 이미지 n개 설정-->
    <button type="button" onclick="postData()">제출</button>
</form>
<script>
    async function postData(){
        const name = document.getElementById("name").value;
        const email = document.getElementById("email").value;
        const fileList = document.getElementById("fileList");
        const serverData = new FormData();
        serverData.append('name', name);
        serverData.append('email', email);
        for(let i=0;i<fileList.files.length;i++){
            serverData.append('profileImages',fileList.files[i]);
        }
        await axios.post("http://localhost:8081/member/multipart-formdata-images",serverData);
    }
</script>

</body>
</html>