<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>form 입력</title>
</head>
<body>
<form>
    이름 : <input type="text" id="name" name="name">
    이메일 : <input type="text" id="email" name="email">
    프로필이미지 : <input type="file" id="profileImage"  name="profileImage" accept="image/*">
    <button type="button" onclick="postData()">제출</button>
</form>
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<script>
    async function postData(){
        const name = document.getElementById("name").value;
        const email = document.getElementById("email").value;
        const member = {name,email};
        const memberJson = JSON.stringify(member);
        const fileList = document.getElementById("profileImage");
        const file = fileList.files[0];
        const serverData = new FormData();
        serverData.append('member',new Blob([memberJson],{type:"application/json"}));
        serverData.append('profileImage',file);
        await axios.post("http://localhost:8081/member/json-file",serverData);
    }
</script>
</body>
</html>
